* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}

header {
    width: 100%;
    height: 400px;
    border: 2px dashed black;
    background-image: url('../img/jumbo.png'); 
    background-size: cover;
    padding-top: 10px;
}

.header-container {
    border: 2px dashed white;
    width: 900px;
    height: calc(400px - 10px);
    position: relative;
  
    
}

.barra-nav {
     
    width: 100%;
    height: 35px;
    text-align: center;
  
    
    
    
    

}

.logo {
   
    width: 20%;
    float: left;
    height: 100%;

   position: relative;
}

.img-logo {
    max-width: 91px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    
    
}



nav {
    
    height: 100%;
    float: left;
    width: 70%;
    font-size: 13px;
   
    position: relative;
   
    
}

.nav-link {
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
   

  
    
    
    
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    background-color: white;
    color: #3161E0;
    
    
}

nav a:visited {
    text-decoration: none;
    color: white;
}

.logIn {
   
    height: 100%;
    float: left;
    width: 10%;
    line-height: 35px;
    text-align: center;
    position: relative;
}

.pulsanteAccedi {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    
    white-space: nowrap;
    color: #000000;
    text-decoration: none;
    line-height: 1.2;
    font-weight: bold;
   
    font-size: 13px;
    background-color: #FFFFFF;
    border-radius: 21px;
    padding: 8px 11px;

    cursor: pointer;
}


.barra-nav::after {
    content: "";
    display: table;
    clear: both;
}

.header-main {
   
    width: 100%;
    height: calc(400px - 10px - 35px);

    position: relative;
}

.header-content {
    width: 100%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.header-content h1 {
    color: white;
}

.header-content p {
    color: white;
    
    padding-top: 20px;
    line-height: 25px;
    padding-right: 80px;
    padding-left: 80px;
}


.buttonDownload {
    margin-top: 20px;
    display: inline-block;
    white-space: nowrap;
    color: #000000;
    text-decoration: none;
    line-height: 1.2;
    
   
    font-size: 15px;
    background-color: #FFFFFF;
    border-radius: 21px;
    padding: 8px 11px;

    cursor: pointer;
    margin-right: 25px;
}



.buttonOpen {
    margin-top: 20px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    line-height: 1.2;
    
   
    font-size: 15px;
    background-color: black;
    border-radius: 21px;
    padding: 8px 11px;

    cursor: pointer;
}

main {
    width: 100%;

    height: 500px;
}

section {
    border: 2px dashed black;
    width: 100%;
    height: 100%;
    position: relative;
    
}

.section1 {
    border: 2px dotted green;
    width: 900px;
    height: 80%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
   
}

.img-section_col {
 
    float: left;
    width: 60%;
    border: 2px dotted yellow;
    height: 100%;
    position: relative;
    
}

.img-section {
    width: 500px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.content-section_col {
    height: 100%;
    width: 40%;
    border: 2px dotted yellow;
    float: left;
    position: relative;
}

.section1::after {
    content: "";
    display: table;
    clear: both;
}
.content-section_col h1 {
    
    
    
    line-height: 30px;
    
   

}

.content-section_col p {
    
    
    
    padding-top: 10px;

    line-height: 20px;
    
   

}
.content-section {
    width: 70%;
    
    border: 1px solid purple;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


    
    


section:nth-child(2), section:nth-child(4) {
    background-color: red;
}

